.column {
  flex: 32%;
}
.column .image {
  position: relative;
}

.column img {
  width: 100%;
}

.column .image::after {
  content: attr(data-after);
  white-space: pre;
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  padding: 3rem;
  width: 0;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  font-size: 1.6rem;
  text-align: center;
}

.column .image:hover:after {
  opacity: 1;
  visibility: visible;
  width: 90%;
  height: 80%;
}

@media only screen and (max-width: 970px) {
  .column {
    flex: 49%;
  }
}

@media only screen and (max-width: 600px) {
  .column {
    flex: 100%;
  }
}
